name: RLSB3
channels:
  - conda-forge/label/cf201901
  - defaults
  - bioconda
  - conda-forge
  - imperial-college-research-computing
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=2_gnu
  - binutils_impl_linux-64=2.36.1=h193b22a_2
  - binutils_linux-64=2.36=hf3e587d_10
  - blas=1.0=openblas
  - boost-cpp=1.78.0=h75c5d50_1
  - bzip2=1.0.8=h7f98852_4
  - c-ares=1.18.1=h7f98852_0
  - ca-certificates=2018.11.29=ha4d7672_0
  - cmake=3.24.2=h5432695_0
  - eigen=3.4.0=h4bd325d_0
  - expat=2.4.9=h27087fc_0
  - fenics=2019.1.0=py310hff52083_32
  - fenics-libdolfin=2019.1.0=h1c8bd2e_32
  - fftw=3.3.10=mpi_openmpi_hdeb57f9_5
  - freetype=2.11.0=h70c0345_0
  - gcc_impl_linux-64=10.4.0=h7ee1905_16
  - gcc_linux-64=10.4.0=h9215b83_10
  - gmp=6.2.1=h58526e2_0
  - gmsh=3.0.6=he2a7a22_2
  - gxx_impl_linux-64=10.4.0=h7ee1905_16
  - gxx_linux-64=10.4.0=h6e491c6_10
  - hdf5=1.12.2=mpi_openmpi_h41b9b70_0
  - hypre=2.25.0=mpi_openmpi_ha709252_0
  - icu=70.1=h27087fc_0
  - jpeg=9e=h5eee18b_1
  - kernel-headers_linux-64=2.6.32=he073ed8_15
  - keyutils=1.6.1=h166bdaf_0
  - krb5=1.19.3=h08a2579_0
  - ld_impl_linux-64=2.36.1=hea4e1c9_2
  - libblas=3.9.0=16_linux64_openblas
  - libcblas=3.9.0=16_linux64_openblas
  - libcurl=7.85.0=h2283fc2_0
  - libedit=3.1.20191231=he28a2e2_2
  - libev=4.33=h516909a_1
  - libffi=3.4.2=h7f98852_5
  - libgcc-devel_linux-64=10.4.0=h74af60c_16
  - libgcc-ng=12.1.0=h8d9b700_16
  - libgfortran=3.0.0=1
  - libgfortran-ng=12.1.0=h69a702a_16
  - libgfortran5=12.1.0=hdcd56e2_16
  - libgomp=12.1.0=h8d9b700_16
  - liblapack=3.9.0=16_linux64_openblas
  - libnghttp2=1.47.0=hff17c54_1
  - libnsl=2.0.0=h7f98852_0
  - libopenblas=0.3.21=h043d6bf_0
  - libpng=1.6.37=hbc83047_0
  - libsanitizer=10.4.0=hde28e3b_16
  - libsqlite=3.39.4=h753d276_0
  - libssh2=1.10.0=hf14f497_3
  - libstdcxx-devel_linux-64=10.4.0=h74af60c_16
  - libstdcxx-ng=12.1.0=ha89aaad_16
  - libuuid=2.32.1=h7f98852_1000
  - libuv=1.44.2=h166bdaf_0
  - libxcb=1.15=h7f8727e_0
  - libzlib=1.2.12=h166bdaf_4
  - metis=5.1.0=h58526e2_1006
  - mpc=1.2.1=h9f54685_0
  - mpfr=4.1.0=h9202a9a_1
  - mpi=1.0=openmpi
  - mpmath=1.2.1=pyhd8ed1ab_0
  - mumps-include=5.2.1=ha770c72_11
  - mumps-mpi=5.2.1=hfb3545b_11
  - ncurses=6.3=h27087fc_1
  - occt=7.3.0=h3be52bf_1005
  - openblas=0.2.20=8
  - openmpi=4.1.4=ha1ae619_101
  - openssl=3.0.11=h7f8727e_2
  - parmetis=4.0.3=he9a3056_1005
  - peakutils=1.3.4=pyhd8ed1ab_0
  - petsc=3.17.4=real_h4502189_101
  - pip=22.2.2=pyhd8ed1ab_0
  - pkg-config=0.29.2=h36c2ea0_1008
  - ptscotch=6.0.9=h0a9c416_2
  - python=3.10.6=ha86cf86_0_cpython
  - python_abi=3.10=2_cp310
  - readline=8.1.2=h0f457ee_0
  - rhash=1.4.3=h166bdaf_0
  - scalapack=2.2.0=h67de57e_1
  - scotch=6.0.9=hb2e6521_2
  - setuptools=65.4.1=pyhd8ed1ab_0
  - six=1.16.0=pyh6c4a22f_0
  - slepc=3.17.2=real_h624bf36_100
  - suitesparse=5.10.1=he2db622_2
  - superlu=5.2.2=h00795ac_0
  - superlu_dist=7.2.0=h34f6f4d_0
  - sysroot_linux-64=2.12=he073ed8_15
  - tbb=2020.3=hfd86e86_0
  - tk=8.6.12=h27826a3_0
  - tzdata=2022e=h191b570_0
  - wheel=0.37.1=pyhd8ed1ab_0
  - xorg-kbproto=1.0.7=h7f98852_1002
  - xorg-libice=1.0.10=h7f98852_0
  - xorg-libsm=1.2.3=hd9c2040_1000
  - xorg-libx11=1.8.6=h8ee46fc_0
  - xorg-libxext=1.3.4=h0b41bf4_2
  - xorg-libxmu=1.1.3=h7f98852_0
  - xorg-libxt=1.3.0=hd590300_0
  - xorg-xextproto=7.3.0=h0b41bf4_1003
  - xorg-xproto=7.0.31=h27cfd23_1007
  - xz=5.2.6=h166bdaf_0
  - yaml=0.2.5=h7f98852_2
  - zlib=1.2.12=h166bdaf_4
  - zstd=1.5.2=h6239696_4
  - pip:
    - absl-py==1.3.0
    - cachetools==5.2.0
    - certifi==2022.9.24
    - charset-normalizer==2.1.1
    - cloudpickle==2.2.0
    - contourpy==1.0.5
    - cycler==0.11.0
    - fenics-dijitso==2019.1.0
    - fenics-dolfin==2019.1.0
    - fenics-ffc==2019.1.0
    - fenics-fiat==2019.1.0
    - fenics-ufl==2019.1.0
    - fonttools==4.37.4
    - gmpy2==2.1.2
    - google-auth==2.12.0
    - google-auth-oauthlib==0.4.6
    - grpcio==1.49.1
    - gym==0.21.0
    - idna==3.4
    - importlib-metadata==4.13.0
    - kiwisolver==1.4.4
    - markdown==3.4.1
    - markupsafe==2.1.1
    - matplotlib==3.6.1
    - mpi4py==3.1.3
    - numpy==1.23.3
    - oauthlib==3.2.1
    - packaging==21.3
    - pandas==1.5.0
    - petsc4py==3.17.4
    - pickle5==0.0.11
    - pillow==9.2.0
    - pkgconfig==1.5.5
    - protobuf==3.19.6
    - pyasn1==0.4.8
    - pyasn1-modules==0.2.8
    - pybind11==2.10.0
    - pybind11-global==2.10.0
    - pykalman==0.9.5
    - pyparsing==3.0.9
    - python-dateutil==2.8.2
    - pytz==2022.4
    - requests==2.28.1
    - requests-oauthlib==1.3.1
    - rsa==4.9
    - sb3-contrib==1.6.2
    - scipy==1.9.1
    - slepc4py==3.17.2
    - stable-baselines3==1.6.2
    - sympy==1.11.1
    - tensorboard==2.10.1
    - tensorboard-data-server==0.6.1
    - tensorboard-plugin-wit==1.8.1
    - torch==1.12.1
    - torchaudio==0.12.1
    - torchvision==0.13.1
    - typing-extensions==4.4.0
    - urllib3==1.26.12
    - werkzeug==2.2.2
    - zipp==3.9.0
